<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HELLO</title>
</head>
<body>
    <h2>HOME PAGE</h2>
    <span>
        <a th:if="${session.loginUser == null}" href="http://localhost:9090/view/login?target=http://localhost:8080/view/index">click to login</a>
        <a th:unless="${session.loginUser == null}" href="http://localhost:9090/login/logout?target=http://localhost:8080/view/index">退出</a>
    </span>


    <p th:unless="${session.loginUser == null}">
        <span style="color: deepskyblue" th:text = "${session.loginUser.userName}"></span> 已登录
    </p>

</body>
</html>